<h1>Flights</h1>
<%= form_with url: flights_path, method: :get, local: true do |form| %>
  <p>Arrival Airport</p>
  <%= form.select :arrival_airport_id, @arrival_options, prompt: 'Select an airport' %>
  <p>Departure Airport</p>
  <%= form.select :departure_airport_id, @departure_options, prompt: 'Select an airport' %>
  <p>Departure Date and Time</p>
  <%= form.select :start,
    options_for_select(@formatted_flight_times.map { |formatted, time| [formatted, time.to_s] }),
    prompt: "Select a datetime",
    class: "form-control" %>

  <p>Number of Passengers</p>
  <%= form.select :passengers, [1, 2, 3, 4], prompt: 'Select the number of passengers'  %>

  <p>
  <%= form.submit "Search Flights", class: "btn btn-primary" %>
  </p>
<% end %>

<% unless @flights_avail.nil? %>
  <h2> Available Flights </h2>
  <%= form_with url: flights_path, method: :get, local: true do |f| %>
    <%= f.hidden_field :number_of_tickets, value: @number_of_tickets %>
    <ul>
    <% @flights_avail.each do |flight| %>
      <li>
        <%= f.radio_button :flight_id, flight.id %>
        <%= f.label :flight_id, "Flight ##{flight.flight_number} - #{flight.departure_airport.code} to #{flight.arrival_airport.code} at #{flight.start.strftime('%Y-%m-%d %H:%M')}" %>
      </li>
    <% end %>
    </ul>

    <%= f.submit "Book This Flight" %>
  <% end %>
<% end %>
